<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Libros</title>
</head>

<body>
  <table>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Resumen</th>
      <th>Fecha de Publicación</th>
      <th>Número de Ventas</th>
      <th>id del autor</th>
      <th>Acciones</th>
    </tr>
    <% books.forEach(book => { %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.nombre %></td>
        <td><%= book.summary %></td>
        <td><%= book.dateofpublication %></td>
        <td><%= book.numberofsales %></td>
        <td><%= book.author %></td>
        <td>
          <form method="post" action="/books/<%= book.id %>">
            <input type="text" name="nombre" value="<%= book.nombre %>">
            fecha de publicacion:
            <input type="date" name="dateOfPublication" value="<%= book.dateofpublication %>">
            <input type="number" name="numberOfSales" value="<%= book.numberofsales %>"> 
            <input type="text" name="summary" value="<%= book.summary %>">
            <button type="submit">Actualizar</button>
          </form>
          <form method="post" action="/books/<%= book.id %>/delete">
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
  <form method="post" action="/books">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="summary" placeholder="Resumen">
    fecha de publicacion:
    <input type="date" name="dateOfPublication" placeholder="Fecha de Publicación">
    <input type="number" name="numberOfSales" placeholder="Número de Ventas">
    <!--<input type="number" name="authorID" placeholder="Id del autor"> -->
    <button type="submit">Agregar</button>
  </form>
</body>

</html>
