<!DOCTYPE html>
<html>
<head>
  <title>Tabla de Libros</title>
  <script src="/script.js"></script>
</head>
<body>
  <input type="text" placeholder="Buscar por resumen">
  <button type="button" onclick="searchSummary()">Buscar</button>
  <table>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>number of votes</th>
      <th>review</th>
      <th>score</th>
      <th>Acciones</th>
    </tr>
    <% Authors.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nombre %></td>
        <td><%= user.numberofvotes %></td>
        <td><%= user.review %></td>
        <td><%= user.score %></td>
        <td>
          <button type="button" onclick="updateUser( user.id )">Actualizar</button>
          <button type="button" onclick="deleteUser(user.id)">Eliminar</button>
          <button type="button" onclick="eliminarUsuario( user.id, function(err, result) { console.log(result); })">Eliminar</button>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
