html
  head
    title Tabla de Usuarios
    script(src="/script.js")

  body
    table 
      style.
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f2f2f2;
        }

      tr
        th Id
        th book
        th number of votes
        th review
        th score
        th Acciones
      each user in Authors
        tr
          td= user.id
          td= user.book
          td= user.numberofvotes
          td= user.review
          td= user.score
          td
            button(type="button" onclick='updateUser('+user.id+')') Actualizar
            button(type="button" onclick='deleteUser('+user.id+')') Eliminar
            button(type="button" onclick='eliminarUsuario('+user.id+', function(err, result) { console.log(result); })') Eliminar